header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: -10px;
}

#error-container {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.logo a {
    color: #fff;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user a {
    margin-left: 10px;
    color: #fff;
}

.user-name {
    padding-left: 20px;
}

.user-notification {
    position: relative;
    display: inline-block;
}

.user-notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: gray;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    text-align: left;
}

li {
    display: block;
    text-align: left;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

.btn {
    border-radius: 0;
    border-color: gray;
    border-width: 1px;
    background-color: white;
    padding: 8px;
}

.btn:hover {
    background-color: lightgray;
    transition: 1s;
}

.add-row {
    margin-left: 1000px;
    margin-bottom: 20px;
}

.container {
    display: flex;
}

.menu {
    list-style: none;
    margin: 1%;
    padding: 1%;
    width: 200px;
}

.menu li {
    display: block;
    text-align: left;
    padding: 10px 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.status-active, .status-inactive {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.status-active {
    background-color: greenyellow;
}

.status-inactive {
    background-color: lightgray;
}

.profile-header {
    display: none;
    background-color: #333;
    position: absolute;
    transform: translate(0%, 50px);
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.notification-header {
    display: none;
    background-color: #333;
    position: absolute;
    width: 300px;
    height: 140px;
    transform: translate(0%, 100px);
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.profile-header.active, .notification-header.active {
    display: block;
}

.user-notification:hover~.notification-header {
    display: block;
}

.notification-msg {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    float: right;
    margin: 10px;
}

.add-modal-wrapper, .warning-modal-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-modal, .warning-modal {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 20%;
}

.add-modal-close, .add-modal-create, .warning-modal-close {
    margin-left: 90%;
}

.add-modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.invalid {
  border: 2px solid red;
}
