.road {
    height: 120px;
    background-color: #999;
}

.traffic-light {
    width: 100px;
    height: 250px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.red-light,
.yellow-light,
.green-light {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.red-light {
    background-color: red;
}

.yellow-light {
    background-color: yellow;
}

.green-light {
    background-color: green;
}

.car {
    position: relative;
    top: 10%;
    width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 5px;
    animation: move 10s both normal;
}

@keyframes move {
    0% {
        left: -50px;
    }

    50% {
        left: 40%;
    }

    100% {
        left: 100%;
    }
}
